
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: #1A0B2E;
  
}
.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.logo span {
  
  background: linear-gradient(to right, #ff6b6b, #c745ff);
  .logo span {
  background: linear-gradient(to right, #ff6b6b, #c745ff);
  color: transparent;
}
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-list a {
  text-decoration: none;
  color: #d1d1d1;
  font-size: 18px;
  
}
.btn-primary{
    
width: 135px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px 12px 16px;
border-radius: 10px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #0d0821; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    text-align: center;
}


.hero-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; 
}


.microphone {
    position: relative;
    width: 200px;
    margin: 0 auto 20px;
}

.hero-circle {
    width: 100%;
    display: block;
}

.mic-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}


.badge-new {
    position: absolute;
    top: 10px;
    right: 0;
    background: #00ff88;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00ff88;
}


h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    color: #ccc;
    max-width: 500px;
    margin: 0 auto 30px;
}


.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-spotify {
    background: linear-gradient(to right, #f9d423, #ff4e50, #8921ff);
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-subscribe {
    border: 1px solid #00ff88;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: #00ff88;
}
/* About Podcust */
.container{
    background-color: #1A0B2E;
    width: 1600px;
    height: 646px;
    padding: 50px 200px 120px 200px;
}
.podcust-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.podcust-describtion{
    width: 1200px;
    height: 148px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16PX;
    line-height: 20PX;
    text-align: center;
}
/* Card Section */
.card-section{
    display: flex;
    justify-content: flex-start;
    gap:5rem;
    justify-content: center;
}

.card-title{
    color: #00FF88;
    width: 240px;
    height: 58px;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.8rem;
}
/* TechWave  */
.techwave{
    
    background-color: rgba(35, 14, 61, 1);
    color: white;
    text-align: center;
    padding: 80px 50px;
}
.tech-title{
    font-size: 3rem;
    margin-bottom: 50px;
   
}
.tech-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.tech-card{
    background-color: #1a1433;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    border: 1px solid #2d264d;
    transition: 0.3s;
}
.feature-card:hover {
    border-color: #ff33cc;
}
.big-card{
    grid-row: span 2;
}
.small-card{
    grid-column: span 2;
    text-align: start;
}
.tech-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.tech-card p {
    color: #a19db1;
    line-height: 1.6;
    font-size: 14px;
}