
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: #1A0B2E;
  
}
.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.logo span {
  
  background: linear-gradient(to right, #ff6b6b, #c745ff);
  .logo span {
  background: linear-gradient(to right, #ff6b6b, #c745ff);
  color: transparent;
}
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-list a {
  text-decoration: none;
  color: #d1d1d1;
  font-size: 18px;
  
}
.btn-primary{
    
width: 135px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px 12px 16px;
border-radius: 10px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #0d0821; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    text-align: center;
}


.wave-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; 
}


.microphone {
    position: relative;
    width: 200px;
    margin: 0 auto 20px;
}

.hero-circle {
    width: 100%;
    display: block;
}

.mic-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}


.badge-new {
    position: absolute;
    top: 10px;
    right: 0;
    background: #00ff88;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00ff88;
}


h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    color: #ccc;
    max-width: 500px;
    margin: 0 auto 30px;
}


.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-spotify {
    background: linear-gradient(to right, #f9d423, #ff4e50, #8921ff);
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-subscribe {
    border: 1px solid #00ff88;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: #00ff88;
}